@import "components/fonts";
@import "components/general";

@import "components/title";
@import "components/btn";
@import "components/menu";
@import "components/slider";
@import "components/form";
@import "components/checkbox";

@import "components/header";
@import "components/footer";
@import "components/burger";
@import "components/callback";
@import "components/callback-popup";
@import "components/sidebar";
@import "components/up";
@import "components/breadcrumb";

@import "components/index-slider";
@import "components/utp";
@import "components/services-list";
@import "components/how-we-work";
@import "components/cooperation-list";
@import "components/blog-list";
@import "components/blog";
@import "components/statistic";
@import "components/about";