.about {
    margin-bottom: 7.8rem;

    @media #{$lg} {
        padding-top: 3rem;
        margin-bottom: 4rem;
    }

    &__logo {
        display: flex;
        max-width: 56.7rem;
        width: 100%;
        height: auto;
        margin-bottom: 3.5rem;

        @media #{$lg} {
            margin-bottom: 3rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__text {
        @media #{$lg} {
            padding: 0 1.4rem;
        }

        * {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: $color-text-primary;
            margin: 0;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }

        h2 {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.2rem;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }

        h3 {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.2rem;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }

        p, li, b {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }

        b {
            font-weight: 700;
        }

        ul {
            padding-left: 2rem;
        }

        span {
            font-size: 2rem;
            line-height: 2.5rem;

            @media #{$lg} {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: $color-primary;
            }
        }
    }
}