.blog {
    &__card {
        position: relative;
        max-width: 46rem;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 6rem 0 rgba(#000, 0.05);
        box-sizing: border-box;
        padding: 1.2rem 1.2rem 5rem;
        border-radius: 2rem;

        @media #{$lg} {
            padding: 1.4rem 1.4rem 3rem;
        }

        &>a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0;
            left: 0;
            border-radius: inherit;
        }

        &__image {
            position: relative;
            display: flex;
            width: 100%;
            height: 27rem;
            background: #EFF4FA;
            border-radius: 1rem;
            margin-bottom: 1.5rem;

            &::before {
                content: none;
                position: absolute;
                width: 14.9rem;
                height: 12.3rem;
                background: url(../images/svg/no-photo.svg) no-repeat center / contain;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }

            &:not(:has(>img)) {
                &::before {
                    content: '';
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: inherit;
            }
        }

        &__bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3.7rem;
            margin-bottom: 1.5rem;
        }

        &__tag {
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 2rem;
            text-transform: uppercase;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: 100%;
            background-color: rgba($color-active, 0.5);
            padding: 0 1.7rem;
            border-radius: 10rem;
        }

        &__date {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2rem;
            color: #91A2AB;
            padding-right: 2.5rem;
            margin-left: auto;

            @media #{$lg} {
                font-size: 1.6rem;
                padding-right: 0;
            }
        }

        &__content {
            padding: 0 2.5rem 0 1.7rem;

            @media #{$lg} {
                padding: 0;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 2.5rem;
            color: $color-text-primary;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 5rem;
            margin: 0 0 1.7rem;

            @media #{$lg} {
                font-size: 1.6rem;
                line-height: 2rem;
                min-height: 0;
                margin: 0 0 2.4rem;
            }
        }

        &__text {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.2rem;
            color: $color-text-secondary;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 11rem;

            @media #{$lg} {
                line-height: 1.6rem;
                -webkit-line-clamp: 7;
                min-height: 0;
            }
        }
    }
}