.blog-list {
    margin-bottom: 11rem;

    @media #{$lg} {
        margin-bottom: 4.5rem;
    }

    &:not(.blog-list_allways-slider) {
        .blog-list {
            &__slider {
                .swiper {
                    &-slide {
                        @media #{$lg} {
                            display: flex;
                            justify-content: center;
                            width: 100% !important;
                            margin-right: 0 !important;
                        }
                    }
                }
            }
        }
    }

    &:has(+.quiz) {
        margin-bottom: 1.2rem;

        @media #{$lg} {
            margin-bottom: 3rem;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__slider {
        width: calc(100% + 11rem);
        margin: -5.5rem 0 0 -5.5rem;

        @media #{$lg} {
            width: 100%;
            margin: 0 0 1rem;
        }

        .swiper {
            padding: 5.5rem;

            @media #{$lg} {
                padding: 0;
                overflow: visible;
            }

            &-slide {
                transition: opacity .3s linear;

                &-prev, &-active + * + * + * {
                    opacity: 0;

                    @media #{$lg} {
                        opacity: 1;
                    }
                }

                &:nth-of-type(n+4) {
                    @media #{$lg} {
                        display: none !important;
                    }
                }
            }
        }

        .slider {
            &-pagination {
                position: absolute;
                top: 0;
                right: 0;

                @media #{$lg} {
                    display: none;
                }
            }

            &-progressbar-item {
                @media #{$lg} {
                    display: none;
                }
            }
        }
    }

    &__content {
        @media #{$lg} {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .btn-more {
        display: none;

        @media #{$lg} {
            display: flex;
            max-width: 46rem;
            margin: 0 auto;
        }
    }

    &_allways-slider {
        @media #{$lg} {
            margin-bottom: 3rem;
        }

        .blog-list {
            &__slider {
                @media #{$lg} {
                    width: calc(100% + 2.8rem);
                    margin-left: -1.4rem;
                }

                .swiper {
                    @media #{$lg} {
                        padding-bottom: 4rem;
                        overflow: hidden;
                    }

                    &-slide {
                        @media #{$lg} {
                            display: flex !important;
                            justify-content: center;
                            padding: 0 1.4rem;
                            box-sizing: border-box;
                        }

                        .card {
                            &__title {
                                @media #{$lg} {
                                    min-height: 4rem;
                                }
                            }
                        }
                    }
                }

                .slider {
                    &-progressbar-item {
                        @media #{$lg} {
                            display: block;
                            width: 32rem !important;
                            transform: translateY(-2rem);
                        }
                    }
                }
            }

            &__content {
                @media #{$lg} {
                    flex-direction: row;
                    gap: 0;
                }
            }
        }
    }
}