.breadcrumb {
    padding-top: 1.7rem;
    margin-bottom: 6rem;

    @media #{$lg} {
        padding-top: 1rem;
        margin-bottom: 2.5rem;
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    &__item {
        a, span, i {
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.7rem;
            text-transform: uppercase;
            color: $color-text-primary;

            @media #{$lg} {
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }

        a {
            &:hover {
                span {
                    color: $color-active;
                }
            }

            span {
                transition: all .1s linear;
            }
        }
    }
}