.burger {
    position: fixed;
    display: none;
    width: 100%;
    height: calc(100dvh - 7rem);
    background: rgba(#051D3C, 0.9) url(../images/burger-bg.png) no-repeat top center / cover;
    backdrop-filter: blur(40px);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
    top: 7rem;
    left: 0;

    @media #{$lg} {
        display: flex;
    }

    &-opened {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 3rem 2.4rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0.2rem;
            background-color: $color-text-primary;
            border-radius: 1rem;

            &-thumb {
                background-color: $color-active;
                border-radius: 1rem;
            }
        }
    }

    &__menu {
        padding-left: 0.3rem;
        margin-bottom: 3.5rem;
    }

    &__contacts {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-left: 0;
            margin: 0;

            li {
                a {
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    color: #A9B3BD;
                    display: inline-flex;
                    align-items: start;
                    gap: 1rem;

                    &:hover {
                        color: $color-active;
                    }

                    span {
                        display: inline-flex;
                        align-items: center;
                        min-height: 2.4rem;
                    }
                }
            }
        }
    }
}