.callback-popup {
    position: relative;
    display: flex;
    background-color: rgba(#4C739A, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 6rem 0 rgba(#1E3552, 0.1);
    box-sizing: border-box;
    padding: 4.5rem 5.5rem 6rem 5rem;
    border-radius: 5rem;

    @media #{$lg} {
        padding: 3rem 2rem;
        border-radius: 3rem;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 1px;
        background: linear-gradient(130deg, transparent, #CBDDF3, transparent);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }

    &__title {
        font-weight: 700;
        font-size: 4.3rem;
        line-height: 4.3rem;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin: 0 0 4.5rem;

        @media #{$lg} {
            font-size: 3rem;
            line-height: 3rem;
            margin: 0 0 2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        max-width: 48.5rem;
        width: 100%;

        @media #{$lg} {
            gap: 1rem;
        }

        &__input {
            position: relative;
            width: 100%;
            height: 4.8rem;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 10rem;
                padding: 1px;
                background: linear-gradient(90deg, transparent, rgba(#fff, 0.7), transparent);
                -webkit-mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
            }

            input {
                font-weight: 500;
                font-size: 1.6rem;
                color: $color-text-primary;
                width: 100%;
                height: 100%;
                background-color: rgba(#fff, 0.4);
                backdrop-filter: blur(15px);
                box-sizing: border-box;
                padding: 0 2.5rem;
                border: none;
                border-radius: 10rem;
                outline: none;

                &::placeholder {
                    color: $color-text-primary;
                }
            }
        }

        &__block {
            position: relative;

            .btn {
                position: absolute;
                font-weight: 500;
                text-transform: none;
                top: 0;
                right: 0;

                &::before {
                    content: none;
                }
            }
        }

        .checkbox {
            padding: 0 0.5rem 0 2.5rem;

            @media #{$lg} {
                padding: 1rem 0 0;
            }
        }
    }

    &.fancybox__content>.f-button.is-close-btn {
        width: 4rem;
        height: 4rem;
        background: url(../images/svg/close-popup.svg) no-repeat center / contain;
        top: -2.7rem;
        right: -2rem;

        @media #{$lg} {
            width: 3rem;
            height: 3rem;
            top: -3.5rem;
            right: 0.5rem;
        }

        svg {
            display: none;
        }
    }
}