.callback {
    position: relative;
    background: url(../images/block-bg.jpg) no-repeat center / cover;
    padding: 10rem 0 14rem;

    @media #{$lg} {
        background: url(../images/block-bg.jpg) no-repeat 70% top / cover;
        padding: 1.5rem 0 5.8rem;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 60.5rem;
        background: linear-gradient(180deg, $color-background, transparent);
        top: 0;
        left: 0;

        @media #{$lg} {
            height: 10rem;
        }
    }

    .title {
        margin-bottom: 7.5rem;

        @media #{$lg} {
            margin-bottom: 3.8rem;
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        background-color: rgba(#fff, 0.2);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 0 3.2rem 0 4rem;
        border: #fff 1px solid;
        border-radius: 5rem;
        margin-top: 3rem;

        @media #{$lg} {
            flex-direction: column-reverse;
            gap: 2.5rem;
            padding: 1.4rem 1.4rem 0;
            border-radius: 4rem;
            margin-top: 0;
        }
    }

    &__image {
        flex-shrink: 0;
        display: flex;
        width: 63.2rem;
        height: auto;
        margin-top: -3rem;

        @media #{$lg} {
            width: 48rem;
            margin-top: 0;
            margin-left: auto;
        }

        @media #{$sm} {
            width: 30.6rem;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 4.2rem;

        @media #{$lg} {
            padding-top: 0;
        }

        &__block {
            display: flex;
            align-items: center;
            padding: 1rem 0 0 3.2rem;

            @media #{$lg} {
                flex-direction: column-reverse;
                gap: 2rem;
                padding: 0;
            }
        }

        .btn {
            padding: 0 6.65rem;

            @media #{$lg} {
                width: 100%;
            }
        }
    }
}