.cooperation-list {
    margin-bottom: 4rem;

    @media #{$lg} {
        margin-bottom: 7rem;
    }

    &__wrapper {
        min-height: 83.2rem;
        background: url(../images/svg/map.svg) no-repeat top center / contain;
        padding-top: 8.5rem;

        @media #{$lg} {
            min-height: 0;
            padding-top: 10rem;
        }
    }

    .title {
        margin-bottom: 11.2rem;
        
        @media #{$lg} {
            margin-bottom: 0;
        }
    }

    &__content {
        display: flex;
        gap: 10rem;

        @media #{$lg} {
            flex-direction: column;
            gap: 0;
            max-width: 50rem;
            margin: 0 auto;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-top: 6.5rem;

        @media #{$lg} {
            flex: auto;
            width: calc(100% + 1.4rem);
            padding-top: 4.5rem;
            margin-left: -1.4rem;
        }

        &:hover {
            .cooperation-list__item__title {
                color: $color-primary;
                background-position: right;
                box-shadow: 0 0.4rem 6rem 0 rgba(#083663, 0.15);
            }
        }

        &>a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0;
            left: 0;
        }

        &__title {
            font-weight: 700;
            font-size: 3.5rem;
            line-height: 3rem;
            text-transform: uppercase;
            text-shadow: 0 0.4rem 1rem rgba(#000, 0.25);
            color: #fff;
            display: inline-flex;
            align-items: center;
            height: 9.5rem;
            background: linear-gradient(90deg, $color-primary, $color-active, rgba(#fff, 0.5), rgba(#fff, 0.5));
            background-size: 300%;
            box-sizing: border-box;
            padding-left: 3rem;
            border-radius: 0 3rem 3rem 0;
            margin: 0 0 1.5rem;
            transition: all .4s ease-in-out;

            @media #{$lg} {
                font-size: 3rem;
                height: 7rem;
                padding-left: 2.8rem;
                border-radius: 0 2rem 2rem 0;
                margin: 0 0 1rem;
            }
        }

        &__text {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: $color-text-primary;
            padding: 0 3rem;

            @media #{$lg} {
                font-size: 1.6rem;
                line-height: 1.6rem;
                padding: 0 3rem 0 2.8rem;
            }
        }

        &__shadow {
            position: absolute;
            width: 14rem;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            transform: translateX(-100%);
            top: -2.5rem;
            left: 0;

            @media #{$lg} {
                display: none;
            }

            &::before {
                content: '';
                position: absolute;
                width: 17.5rem;
                height: 17.5rem;
                background-color: rgba(#022D58, 0.5);
                border-radius: 50%;
                filter: blur(25px);
                top: 5rem;
                right: -12rem;

                @media #{$lg} {
                    width: 14rem;
                    height: 14rem;
                    top: 3rem;
                    right: -10rem;
                }
            }
        }
    }
}