.footer {
    position: relative;
    background: #051D3C url(../images/footer-bg.png) no-repeat center / cover;

    @media #{$lg} {
        background: #051D3C url(../images/footer-bg.png) no-repeat top right / cover;
    }

    &__wrapper {
        position: relative;
        padding: 1.4rem 0 2rem;

        @media #{$lg} {
            padding: 1.4rem 0 3.8rem;
        }
    }

    &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 6.6rem;
        background-color: rgba(#D9D9D9, 0.1);
        box-sizing: border-box;
        padding: 0.8rem 0.8rem 0.8rem 3.2rem;
        border-radius: 10rem;
        margin-bottom: 3.5rem;

        @media #{$lg} {
            height: 5rem;
            padding: 0;
            background-color: transparent;
            border-radius: 0;
            margin-bottom: 1rem;
        }
    }

    &__menu {
        height: 100%;

        @media #{$lg} {
            display: none;
        }

        ul {
            gap: 8rem;

            li {
                a {
                    font-size: 1.4rem;
                    text-transform: none;
                    color: #ACBBD2;
                }
            }
        }
    }

    &__phone {
        font-weight: 600;
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 1.4rem;
        height: 100%;
        background: linear-gradient(90deg, rgba($color-active, 0.3), rgba(#709AC4, 0.3));
        padding: 0 2.2rem 0 1.5rem;
        border-radius: 10rem;

        @media #{$lg} {
            width: 100%;
            justify-content: center;
            gap: 1.2rem;
            padding: 0;
        }

        &:hover {
            color: $color-active;
        }

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12rem;

        @media #{$lg} {
            flex-direction: column-reverse;
            justify-content: start;
            gap: 3.2rem;
            margin-bottom: 4rem;
        }
    }

    &__logo {
        display: flex;
        width: 56.7rem;
        height: 10.5rem;

        @media #{$lg} {
            width: 34.7rem;
            height: 6.5rem;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 3rem;
        height: 100%;
        padding: 0.8rem 0.8rem 0 0;

        @media #{$lg} {
            justify-content: space-between;
            width: 100%;
            padding: 0;
        }
    }

    &__email {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 0.6rem;

        @media #{$lg} {
            gap: 0.8rem;
        }

        &:hover {
            color: $color-active;
        }

        img {
            width: 2.4rem;
            height: 2.4rem;

            @media #{$lg} {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border: rgba(#fff, 0.5) 1px solid;
            border-radius: 50%;

            &:hover {
                svg path {
                    fill: $color-active;
                }
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;

                path {
                    transition: all .1s linear;
                }
            }
        }
    }

    &__copyright {
        font-size: 1.4rem;
        color: #6A7A82;
    }

    &__luxar {
        position: absolute;
        display: flex;
        width: 10.1rem;
        height: 7rem;
        right: 0;
        bottom: 2.2rem;

        @media #{$lg} {
            bottom: 1.1rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}