.form {
    input {
        font-weight: 500;
        font-size: 2.2rem;
        color: $color-text-primary;
        height: 5.5rem;
        background-color: rgba(#fff, 0.7);
        backdrop-filter: blur(10px);
        box-sizing: border-box;
        padding: 0 2.8rem;
        border: #D8DCEA 1px solid;
        border-radius: 10rem;
        outline: none;

        @media #{$lg} {
            font-size: 1.6rem;
            padding: 0 2rem;
        }

        &::placeholder {
            color: $color-text-primary;
        }
    }
}