$lg: '(max-width: 992px)';
$md: '(max-width: 768px)';
$sm: '(max-width: 576px)';

$font-main: "Montserrat", Arial, sans-serif;

$color-background: #F2F3F7;
$color-primary: #045BA7;
$color-secondary: #0A4B8C;
$color-active: #5C9CE6;
$color-text-primary: #2C3E50;
$color-text-secondary: #576F7C;
$color-border: #E0ECF1;

html {
    scroll-behavior: smooth;
    font-size: calc(100vw / 1920 * 10);

    @media #{$lg} {
        font-size: calc(100vw / 768 * 10);
    }

    @media #{$md} {
        font-size: calc(100vw / 576 * 10);
    }

    @media #{$sm} {
        font-size: calc(100vw / 375 * 10);
    }
}

body {
    font-family: $font-main;
    font-size: 1.6rem;
    background-color: $color-background;

    &.noscroll {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    &.watermark::before {
        content: '';
        position: absolute;
        width: 61.5rem;
        height: 19.7rem;
        background: url(../images/svg/logo.svg) no-repeat center / contain;
        rotate: -90deg;
        top: 52.8rem;
        left: -18.3rem;

        @media #{$lg} {
            content: none;
        }
    }
}

main {
    padding-top: 10.3rem;
    min-height: calc(100vh - 48.5rem);

    @media #{$lg} {
        padding-top: 7rem;
        min-height: calc(100vh - 37.9rem);
    }
}

h1, h2 {
    font-weight: 600;
    color: #000;
}

h1 {
    font-size: 4rem;
    line-height: 3.5rem;

    @media #{lg} {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 3rem;
    line-height: 2.5rem;

    @media #{lg} {
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 2rem;
    }
}

p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 0;

    @media #{$lg} {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

a {
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    color: $color-active;
    transition: all .1s linear;

    &:hover {
        color: $color-primary;
    }    
}

.container {
    max-width: 142.5rem;
    width: 100%;
    margin: 0 auto;

    @media #{$lg} {
        width: calc(100% - 2.8rem);
        margin: 0 1.4rem;
    }
}