.how-we-work {
    margin-bottom: 1.5rem;

    &__content {
        display: flex;
        justify-content: space-between;
        min-height: 38.3rem;

        @media #{$lg} {
            flex-wrap: wrap;
            justify-content: start;
            gap: 1rem;
            max-width: 50rem;
            margin: 0 auto;
        }
    }

    &__item {
        position: relative;
        width: 25.8rem;
        height: 25.8rem;
        background: linear-gradient(168deg, #4DA6FF, #083663, #3F96ED);
        background-size: 600%;
        background-position: right;
        box-sizing: border-box;
        padding: 2.5rem 1.3rem 0 2rem;
        border-radius: 2rem 5rem 5rem 5rem;
        margin-top: 3.2rem;
        overflow: hidden;
        transition: all .4s ease-in-out;

        @media #{$lg} {
            width: calc(50% - 0.5rem);
            height: auto;
            aspect-ratio: 1 / 1;
            padding: 1.7rem 0 0 1.4rem;
            border-radius: 2rem 4rem 4rem 4rem;
            margin-top: 0;
        }

        &:hover {
            height: 38.3rem;
            background-position: left;
            box-shadow: 0 0.4rem 6rem 0 rgba(#083663, 0.5);
            padding-top: 4.7rem;
            border-radius: 5rem;
            margin-top: 0;

            @media #{$lg} {
                height: auto;
                background-position: right;
                box-shadow: none;
                padding-top: 1.7rem;
                border-radius: 2rem 4rem 4rem 4rem;
            }

            &::before, &::after {
                opacity: 1;
            }

            .how-we-work__item {
                &__title {
                    color: $color-secondary;
                    padding-left: 1.3rem;

                    @media #{$lg} {
                        color: #fff;
                        padding-left: 0;
                    }
                }

                &__num {
                    line-height: 15rem;
                    color: #fff;
                    top: 8rem;

                    @media #{$lg} {
                        color: rgba(#fff, 0.5);
                        top: auto;
                    }
                }

                &__text {
                    pointer-events: all;
                    opacity: 1;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: #fff 0.5rem solid;
            border-radius: inherit;
            pointer-events: none;
            z-index: 1;
            opacity: 0;
            transition: all .4s ease-in-out;
            top: 0;
            left: 0;

            @media #{$lg} {
                content: none;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../images/how-we-work-item-bg.jpg) no-repeat center / cover;
            border-radius: inherit;
            opacity: 0;
            transition: all .4s ease-in-out;
            top: 0;
            left: 0;

            @media #{$lg} {
                content: none;
            }
        }

        &__title {
            position: relative;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 1.6rem;
            color: #fff;
            padding-left: 0.2rem;
            margin: 0 0 18.7rem;
            transition: all .4s ease-in-out;
            z-index: 1;

            @media #{$lg} {
                font-size: 1.6rem;
                padding-left: 0;
                margin: 0;
            }
        }

        &__num {
            position: absolute;
            font-weight: 700;
            font-size: 15rem;
            line-height: 25rem;
            color: rgba(#fff, 0.5);
            transition: all .4s ease-in-out;
            top: 4.8rem;
            left: -4.2rem;
            z-index: 1;

            @media #{$lg} {
                font-size: 12rem;
                line-height: 15rem;
                top: auto;
                bottom: 0;
            }
        }

        &__text {
            position: relative;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2rem;
            color: #fff;
            pointer-events: none;
            opacity: 0;
            transition: all .4s ease-in-out;
            z-index: 1;

            @media #{$lg} {
                display: none;
            }
        }

        &_mob {
            display: none;

            @media #{$lg} {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem !important;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}