.menu {
    height: 5.5rem;

    @media (max-width: 992px) {
        height: auto;
    }
    
    &>ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 6rem;
        height: 100%;
        padding-left: 0;
        margin: 0;

        @media #{$lg} {
            flex-direction: column;
            gap: 3.5rem;
            align-items: start;
        }

        &>li {
            height: 100%;

            &>a {
                font-weight: 600;
                font-size: 1.6rem;
                text-transform: uppercase;
                color: #fff;
                display: inline-flex;
                align-items: center;
                height: 100%;

                @media #{$lg} {
                    font-weight: 500;
                }

                &.active, &:hover {
                    color: #4DA0FF;
                }

                &:hover {
                    & + ul {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            ul {
                list-style: none;
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem 0 6.5rem;
                margin: 0;
                pointer-events: none;
                opacity: 0;
                transition: all .3s ease-in-out;

                @media #{$lg} {
                    display: none;
                }

                &:hover {
                    opacity: 1;
                    pointer-events: all;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 200vw;
                    height: 100%;
                    background-color: rgba(#266194, 0.8);
                    backdrop-filter: blur(15px);
                    top: 0;
                    left: -100vw;
                }
                
                li {
                    z-index: 1;

                    a {
                        font-weight: 600;
                        font-size: 1.4rem;
                        color: #fff;

                        &.active, &:hover {
                            color: $color-active;
                        }
                    }
                }
            }
        }
    }
}