.quiz {
    position: relative;
    min-height: 53.2rem;
    z-index: 1;

    @media #{$lg} {
        min-height: 0;
        padding-bottom: 11.1rem;
        margin-bottom: 5rem;
    }

    &:has(+.callback) {
        margin-bottom: -10rem;

        @media #{$lg} {
            margin-bottom: 5rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 90.2rem;
        height: 53.2rem;
        background: url(../images/svg/map.svg) no-repeat center / contain;
        pointer-events: none;
        transform: translateX(-50%);
        top: 0;
        left: 50%;
        
        @media #{$lg} {
            width: 34.7rem;
            height: 20.4rem;
            top: auto;
            bottom: 0;
        }
    }

    &__wrapper {
        padding-top: 17.5rem;

        @media #{$lg} {
            padding-top: 0;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(#fff, 0.2);
        backdrop-filter: blur(4px);
        box-sizing: border-box;
        padding: 3rem 3rem 5.5rem;
        border: #fff 1px solid;
        border-radius: 2rem;

        @media #{$lg} {
            padding: 3rem 3rem 5rem;
        }

        h2 {
            font-weight: 500;
            font-size: 3.5rem;
            line-height: 2.5rem;
            text-transform: uppercase;
            text-align: center;
            color: $color-text-primary;
            margin: 0 0 2rem;

            @media #{$lg} {
                font-size: 2.5rem;
                line-height: 3rem;
                margin-bottom: 1rem;
            }
        }

        p {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.5rem;
            text-transform: uppercase;
            color: #709AC4;
        }

        .btn {
            position: absolute;
            transform: translate(-50%, 50%);
            padding: 0 5rem;
            left: 50%;
            bottom: 0;
        }
    }
}