.slider {
    &-pagination {
        display: flex;
        gap: 1.3rem;
        width: max-content;
        height: 5.4rem;
        z-index: 1;

        @media #{$lg} {
            height: 4rem;
        }
    }

    &-progressbar {
        display: flex;
        align-items: center;
        gap: 2.1rem;
        background-color: rgba(#fff, 0.3);
        box-shadow: 0 0.4rem 3rem 0 rgba($color-secondary, 0.05);
        padding: 0 2.5rem;
        border-radius: 10rem;

        &-cur, &-all {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.6rem;
            text-align: center;
            width: 2.5rem;
        }

        &-cur {
            color: $color-text-primary;
        }

        &>.slider-progressbar-item {
            width: 42.2rem !important;
            margin: 0;
        }

        &-item {
            position: relative;
            width: 70rem !important;
            height: 0.3rem !important;
            background: rgba(#fff, 0.9);
            border-radius: 1rem;
            margin: 0 auto;

            span {
                background: #2A7DDE !important;
                border-radius: 1rem;
            }
        }

        &-all {
            color: #A8AFBC;
        }
    }

    &-arrows {
        display: flex;
        align-items: center;
        background-color: rgba(#fff, 0.3);
        box-shadow: 0 0.4rem 3rem 0 rgba($color-secondary, 0.05);
        border-radius: 10rem;
    }

    &-arrow {
        position: relative;
        width: 5.4rem;
        height: 5.4rem;
        cursor: pointer;
        outline: none;

        @media #{$lg} {
            height: 4rem;
        }
        
        &::before, &::after {
            content: '';
            position: absolute;
            width: 0.7rem;
            height: 1.2rem;
            transition: all .1s linear;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }

        &::before {
            background: url(../images/svg/slider-arrow-active.svg) no-repeat center / contain;
        }

        &::after {
            background: url(../images/svg/slider-arrow.svg) no-repeat center / contain;
            opacity: 0;
        }

        &.swiper-button-disabled {
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        &-prev {
            border-radius: 10rem 0 0 10rem;

            &::before, &::after {
                rotate: 180deg;
                transform: translate(50%, 50%);
                top: calc(50% - 0.05rem);
            }
        }

        &-next {
            border-radius: 0 10rem 10rem 0;
        }
    }
}