.title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 5rem;
    text-transform: uppercase;
    color: $color-text-primary;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 1.4rem;
    margin: 0 0 4rem;

    @media #{$lg} {
        font-size: 3rem;
        line-height: 2.5rem;
        padding-bottom: 1.7rem;
        margin: 0 0 3rem;
    }

    &:has(span) {
        line-height: 3rem;
    }

    &:has(br) {
        line-height: 3.5rem;
    }

    span {
        font-size: 3rem;

        @media #{$lg} {
            font-size: 2.5rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 21.7rem;
        height: 0.8rem;
        background: url(../images/svg/title-decor.svg) no-repeat center / contain;
        pointer-events: none;
        left: 0;
        bottom: 0;
    }
}